* {
  border: 1px solid gray;
}

body {
  font-family: sans-serif;
  margin: 50px;
}

p {
  font-size: 12px;
}

h1 {
  font-size: 15px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 300px;
  margin: 0;
}

button {
  display: none;
}

#settingsDisplay {
  color: white;
}

#main-container {
 display: flex; 
}

.box {
  padding-top: 15px;
  width: 50%;
}